<ion-header>
</ion-header>
<ion-content>
<div class="CentrarVH" style="padding: 10%;min-height: 100%;background-color: #fff;">
  <div style="padding-bottom: 10%;">
    <div style="text-align: center;">
      <img src="./assets/icon/logo.png" alt="" style="width: 50%;">
    </div>
    <label for="lname" class="nombre" style="color: #000">Usuario</label>
    <input type="text" name="firstname" class="caja" id="log_usuario">
    <label for="lname" class="nombre" style="color: #000">Contraseña</label>
    <input type="password" name="firstname" class="caja" id="log_password">
    <div style="padding-top: 5%;margin: 0% 0%;">
      <div (click)="Login()" class="btnVerde" style="padding: 5% 0%;background-color: #28bebd;">Entrar</div>
    </div>
  </div>
</div>
</ion-content>
